html {
    position: relative;
    min-height: 100%;
}

/*------ link color ------*/

a {
    color: white;
}

/*------ layout ------*/

p {
    text-align: justify
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: black;
}


.align-right {
    text-align: right;
    margin: 20px;
    display: block;
    width: 100%;

}

.header {
    z-index: 3;
    position: relative;
    background: black;
    padding: 0px 0px 0px;
    color: white;
    font-size: x-large;
    width: 100%;
    border: none;
    margin: 0px;

}

.footer {
    bottom: 0;
    height: 100px;
    font-size: x-large;
    overflow: hidden;
    z-index: 110;
    position: relative;
    background: #141414;
    padding: 12px 7px 10px;
    color: white;
    width: 100%;
    border: none;
    margin: 0px;
    background-color: #222;
    text-align: right;
}



/*------ hover ------*/

h1:hover {
    color: blue;

}

h2:hover {
    color: black;

}

.white-hover {
    color: white;

}


a:focus,
a:hover {

    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

/*------ media ------*/

@media {
    .col-sm-4 {
        width: 100%;

    }
}



@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

@media (min-width: 768px) {
    .lead {
        font-size: 32px;
    }
}


/*------ Image ------*/

.image-padding {
    padding: 100px;
}


.mainimage {

    z-index: -1;
    position: relative;
    background: transparent !important;
}

.logo {
    background: url(../images/rosie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-width: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


@media screen and (min-width: 768px) {
    .musicvideobackground-image {
        background: url("/project1-user-centric-frontend-dev/assets/images/page_backgrounds/Monkees_Television_special_1969.jpg") no-repeat center top;
        background-size: cover;
        padding-top: 1px;
        position: relative;
        background-color: black;
    }
}


@media screen and (min-width: 768px) {
    .songsbackground-image {
        background: url("/project1-user-centric-frontend-dev/assets/images/page_backgrounds/monkees.jpg") no-repeat center top;
        background-size: cover;
        padding-bottom: 100px;
        padding-top: 1px;
        position: relative;
        background-color: black;
    }
}

@media screen and (min-width: 768px) {
    .bandmembersbackground-image {
        background: url("/project1-user-centric-frontend-dev/assets/images/page_backgrounds/the_monkees_background_image_for_bandmember_bios.jpg") no-repeat center top;
        background-size: cover;
        background-attachment: fixed;
        padding-bottom: 100px;
        min-height: 800px;
        background-color: white;
        z-index: -1;
    }
}

@media screen and (min-width: 768px) {
    .bookingbackground-image {
        background: url("/project1-user-centric-frontend-dev/assets/images/page_backgrounds/the_monkees_march_1967.jpg") no-repeat center top;
        background-size: cover;
        background-attachment: fixed;
        padding-bottom: 100px;
        min-height: 800px;
        background-color: white;
        z-index: -1;
    }
}

.bandmemberimage img {
    float: left;
    border-radius: 10px;
    margin: 10px;

}

@media screen and (max-width: 768px) {
    .bandmemberimagemobile img {
        float: none;
        border-radius: 10px;
        margin: 10px;

    }
}

/*------ container ------*/

@media {
    .musicvideopage-mobile-container {
        margin: 0 auto;
        position: relative;
        width: 100%;
        /* border-style: solid; */
        height: 100%;
        top: -0px;
        bottom: 0px;
        text-align: justify;
        color: white;
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .musicvideopage-container {
        margin: 0 auto;
        position: relative;
        width: 100%;
        padding: 5%;
        color: white;
        text-align: justify;
    }
}

@media (min-width: 768px) {
    .musicvideo-container {
        background-color: black;
        border: solid;
        padding: 10px;
        border-radius: 15px;
    }
}


@media {
    .song-mobile-container {
        margin: 0 auto;
        position: relative;
        width: 100%;
        background-color: black;
        /* border-style: solid; */
        height: 100%;
        top: -0px;
        bottom: 0px;
        text-align: justify;
        color: white;
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .song-container {
        margin: 0 auto;
        position: relative;
        background-color: black;
        width: 80%;
        top: 50px;
        padding: 5%;
        color: white;
        text-align: justify;
        border: solid;
        border-radius: 15px;
    }
}


@media {
    .bandmember-mobile-container {
        margin: 0 auto;
        position: relative;
        width: 100%;
        background-color: white;
        color: black;
        border-style: solid;
        height: 100%;
        padding: 20px;

    }
}

@media (min-width: 768px) {
    .bandmember-container {
        margin: 0 auto;
        position: relative;
        width: 80%;
        background-color: white;
        color: black;
        border-style: solid;
        height: 100%;
        top: 50px;
        padding: 5%;
        text-align: justify;
        border-radius: 15px;
    }
}




@media {
    .booking-mobile-container {
        margin: 0 auto;
        position: relative;
        width: 100%;
        background-color: white;
        border-style: solid;
        height: 100%;
        top: -0px;
        bottom: 0px;
        text-align: justify;
        color: black;
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .booking-container {
        margin: 0 auto;
        position: relative;
        background-color: white;
        border-style: solid;
        top: 50px;
        width: 80%;
        padding: 5%;
        color: black;
        text-align: justify;
        border-radius: 15px;
    }
}


.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}


/*------ topnav ------*/

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.navbar-musicvideodescription-mobile {
    color: white;
    background-color: black;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    margin: 0px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


/*------ headings ------*/

.bandmembers-heading {
    background-color: black;
    color: black;
    padding: 0;
    border: 0;
    width: 100%;
}

.h2,
h2 {
    font-size: 30px;

}


.h3,
h3 {
    font-size: 32px;
    color: white;
    text-align: left;
}

.h5,
h5 {
    font-size: x-large;
}

/*------ booking page ------*/

.bookingpage-form-headers {

    font-size: xx-large;
    padding-top: 20px;
    font-weight: bold;
}

/*------ songs page ------*/

.songdescription {
    text-align: left;
}

@media screen and (max-width: 767px) {
    .songdescription-mobile {
        text-align: left;
        color: white;

    }
}

.songpage-playbar-width {
    width: 80%;
}