html {
    position: relative;
    min-height: 100%;
}

/*------ link color ------*/
a{
  color: white
}

/*------ layout ------*/

p{text-align: justify}

.primary {
  z-index: 3;
position: relative;
  background: #141414;
  padding:12px 7px 10px;
  color:white;
  font-size: x-large;
 width: 100%;
 
}

.align-right {
  text-align: right;
    margin: 20px;
    display:block;
      width: 100%;
  
}

header{
    z-index: 110;
    
}
footer {
    bottom: 0;
    height: 100px;
   font-size: x-large;
    overflow: hidden;
      z-index: 110;
  
}

/*------ hover ------*/

h1:hover{
  
  text-decoration: underline;
}

.white-hover{
  color: white;
  
}

a:focus, a:hover {
    
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

/*------ media ------*/

@media{
.col-sm-4 {
    width: 100%;

}}



@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive  {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (min-width: 768px){
.lead {font-size: 32px;
}
}


/*------ Image ------*/

.image-padding{
  padding: 100px;
}


.mainimage{
  
       z-index: -1;
    position: relative;
    background: transparent !important;
}

.logo {
    background: url(../images/rosie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    min-width: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

@media screen and (min-width: 768px){
.songsbackground-image{
    background: url("/Assets/Images/page backgrounds/monkees.jpg") no-repeat center top;
    background-size:cover;
    background-attachment:none ;
    padding-bottom:100px;
    padding-top:1px;
    position:relative;
    background-color: black;
}
}

@media screen and (min-width: 768px){
.bandmembersbackground-image {
    background: url("/Assets/Images/page backgrounds/The_Monkees background image for band member bios.jpg") no-repeat center top;
background-size:cover;
background-attachment: fixed;
padding-bottom:100px;
min-height: 800px;
background-color: white;
}
}
@media screen and (min-width: 768px){
.bookingbackground-image {
    background: url("/Assets/Images/page backgrounds/The_Monkees_March_1967.jpg") no-repeat center top;
background-size:cover;
background-attachment: fixed;
padding-bottom:100px;
min-height: 800px;
background-color: white;
}
}



/*------ container ------*/



@media screen and (min-width: 768px) {
.musicvideo-container{
   margin: 0 auto;
    position: relative;
  background-color:black;
   width: 100%;
  padding:5%;
  color:white;
  text-align: justify;
}
}
@media screen and (max-width: 768px) {
.musicvideo-mobile-container{
   margin: 0 auto;
    position: relative;
    width: 100%;
    background-color:black;
   /* border-style: solid; */
    height:100%;
    top:-0px;
    bottom: 0px
   text-align: justify;
  color:white;
  padding: 0px;
}
}

@media screen and (min-width: 768px) {
.song-container{
   margin: 0 auto;
    position: relative;
  background-color:black;
  
   width: 80%;
  padding:5%;
  color:white;
  text-align: justify;
}
}
@media screen and (max-width: 768px) {
.song-mobile-container{
   margin: 0 auto;
    position: relative;
    width: 100%;
    background-color:black;
   /* border-style: solid; */
    height:100%;
    top:-0px;
    bottom: 0px
   text-align: justify;
  color:white;
  padding: 10px;
}
}

@media screen and (min-width: 768px) {
.bandmember-container{
     margin: 0 auto;
    position: relative;
    width: 80%;
    background-color:white;
    border-style: solid;
    height:100%;
    top:50px;
  padding:5%;
  color:black;
  text-align: justify;
}
}

@media screen and (max-width: 768px) {
.bandmember-mobile-container{
   margin: 0 auto;
    position: relative;
    width: 100%;
    background-color:white;
    border-style: solid;
    height:100%;
    padding: 2px;
  
}
}


@media screen and (min-width: 768px) {
.booking-container{
   margin: 0 auto;
    position: relative;
  background-color:white;
  top: 20px;
   width: 80%;
  padding:5%;
  color:black;
  text-align: justify;
}
}
@media screen and (max-width: 768px) {
.booking-mobile-container{
   margin: 0 auto;
    position: relative;
    width: 100%;
    background-color:white;
    border-style: solid; 
    height:100%;
    top:-0px;
    bottom: 0px
   text-align: justify;
  color:black;
  padding: 10px;
}
}


/*------ topnav ------*/
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .topnav {
  overflow: hidden;
  background-color: #333;
}

.navbar-musicvideodescription-mobile{
  color:white;
  background-color:black;
   underline:none;
}


/*------ headings ------*/

.bandmembers-heading{
    background-color:black;
    color: black;
    padding: 0;
    border: 0;
    width: 100%;
}


.h3, h3 {
    font-size: 32px;
    color:white;
    text-align:left;
}

.h5, h5 {
    font-size: x-large;
}

/*------ booking page ------*/

.bookingpage-form-headers{
  
font-size: xx-large;
padding-top: 20px;
font-weight:  bold;
}

/*------ songs page ------*/

.songdescription{
  text-align:left;
}

@media screen and (max-width: 768px) {
.songdescription-mobile{
   text-align:left;
   color:white;
     -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}
}





.songpage-playbar-width{
  width: 70%;
}