html {
    position: relative;
    min-height: 100%;
}

.primary {
  z-index: 3;
position: relative;
  background: #141414;
  padding:12px 7px 10px;
  color:white;
  font-size: x-large;
 width: 100%;
 
}
h1:hover{
  color: red;
  text-decoration: underline;
}

a{
  color: white
}



.align-right {
  text-align: right;
    margin: 20px;
    display:block;
      width: 100%;
  
}

@media{
.col-sm-4 {
    width: 100%;

}}

.center {
  
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
 

}

.image-padding{
  padding: 100px;
}
footer {
    bottom: 0;
    height: 100px;
   
    overflow: hidden;
      z-index: 110;
  
}

header{
    z-index: 110;
    
}

.mainimage{
  
       z-index: -1;
    position: relative;
    background: transparent !important;
}




.logo {
    background: url(../images/rosie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    min-width: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.bandmembersbackground-image {
    background: url("/Assets/Images/The_Monkees background image for band member bios.jpg") no-repeat center top;
background-size:cover;
background-attachment: fixed;
padding-bottom:100px;
}
.songsbackground-image{
    background: url("/Assets/Images/Songs Album Art/monkees.jpg") no-repeat center top;
    background-size:cover;
    background-attachment:none ;
    padding-bottom:100px;
    padding-top:1px;
    position:relative;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 75%;
    background-color:white;
    border-style: solid;
    height:100%;
    top:50px;
}

@media screen and (max-width: 768px) {
.mobile-container{
   margin: 0 auto;
    position: relative;
    width: 100%;
    background-color:white;
    border-style: solid;
    height:100%;
    top:50px;
  
}
}


.bandmembers-heading{
    background-color:black;
    color: black;
    padding: 0;
    border: 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive  {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .topnav {
  overflow: hidden;
  background-color: #333;
}

