html {
    position: relative;
    min-height: 100%;
}

.primary {
  z-index: 3;
position: relative;
  background: #141414;
  padding:12px 7px 10px;
  color:white;
  font-size: larger;
 hover:blue;
 width: 100%
}

a{
  color: white
}

style="text-align: right;"

.align-right {
  text-align: right;
    margin: 20px;
    display:block;
      width: 100%;
  
}

@media{
.col-sm-4 {
    width: 100%;

}}

.center {
  
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
 

}

.image-padding{
  padding: 100px;
}
footer {
    bottom: 0;
    height: 100px;
   
    overflow: hidden;
      z-index: 110;
  
}

header{
    z-index: 110;
    
}

.mainimage{
  
       z-index: -1;
    position: relative;
    background: transparent !important;
}




.logo {
    background: url(../images/rosie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    min-width: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.bandmembersbackground {
    background: url("/Assets/Images/The_Monkees background image for band member bios.jpg") no-repeat center top;
height:978px;
background-size:cover;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 978px;
    background-color:white;
    border-style: solid;
    height:100%;
    top:50px;
}

.bandmembers-heading{
    background-color:black;
    color: blue;
    padding: 0;
    border: 0;
    width: 100%;
}